@media (prefers-color-scheme: dark) {
	:root {
		--blue-1: hsl(212, 35%, 9.2%);
		--blue-2: hsl(216, 50%, 11.8%);
		--blue-3: hsl(214, 59.4%, 15.3%);
		--blue-4: hsl(214, 65.8%, 17.9%);
		--blue-5: hsl(213, 71.2%, 20.2%);
		--blue-6: hsl(212, 77.4%, 23.1%);
		--blue-7: hsl(211, 85.1%, 27.4%);
		--blue-8: hsl(211, 89.7%, 34.1%);
		--blue-9: hsl(206, 100%, 50%);
		--blue-10: hsl(209, 100%, 60.6%);
		--blue-11: hsl(210, 100%, 66.1%);
		--blue-12: hsl(206, 98%, 95.8%);

		--green-1: hsl(146, 30%, 7.4%);
		--green-2: hsl(155, 44.2%, 8.4%);
		--green-3: hsl(155, 46.7%, 10.9%);
		--green-4: hsl(154, 48.4%, 12.9%);
		--green-5: hsl(154, 49.7%, 14.9%);
		--green-6: hsl(154, 50.9%, 17.6%);
		--green-7: hsl(153, 51.8%, 21.8%);
		--green-8: hsl(151, 51.7%, 28.4%);
		--green-9: hsl(151, 55%, 41.5%);
		--green-10: hsl(151, 49.3%, 46.5%);
		--green-11: hsl(151, 50%, 53.2%);
		--green-12: hsl(137, 72%, 94%);

		--red-1: hsl(353, 23%, 9.8%);
		--red-2: hsl(357, 34.4%, 12%);
		--red-3: hsl(356, 43.4%, 16.4%);
		--red-4: hsl(356, 47.6%, 19.2%);
		--red-5: hsl(356, 51.1%, 21.9%);
		--red-6: hsl(356, 55.2%, 25.9%);
		--red-7: hsl(357, 60.2%, 31.8%);
		--red-8: hsl(358, 65%, 40.4%);
		--red-9: hsl(358, 75%, 59%);
		--red-10: hsl(358, 85.3%, 64%);
		--red-11: hsl(358, 100%, 69.5%);
		--red-12: hsl(351, 89%, 96%);

		--slate-1: hsl(200, 7%, 8.8%);
		--slate-2: hsl(195, 7.1%, 11%);
		--slate-3: hsl(197, 6.8%, 13.6%);
		--slate-4: hsl(198, 6.6%, 15.8%);
		--slate-5: hsl(199, 6.4%, 17.9%);
		--slate-6: hsl(201, 6.2%, 20.5%);
		--slate-7: hsl(203, 6%, 24.3%);
		--slate-8: hsl(207, 5.6%, 31.6%);
		--slate-9: hsl(206, 6%, 43.9%);
		--slate-10: hsl(206, 5.2%, 49.5%);
		--slate-11: hsl(206, 6%, 63%);
		--slate-12: hsl(210, 6%, 93%);

		--yellow-1: hsl(45, 100%, 5.5%);
		--yellow-2: hsl(46, 100%, 6.7%);
		--yellow-3: hsl(45, 100%, 8.7%);
		--yellow-4: hsl(45, 100%, 10.4%);
		--yellow-5: hsl(47, 100%, 12.1%);
		--yellow-6: hsl(49, 100%, 14.3%);
		--yellow-7: hsl(49, 90.3%, 18.4%);
		--yellow-8: hsl(50, 100%, 22%);
		--yellow-9: hsl(53, 92%, 50%);
		--yellow-10: hsl(54, 100%, 68%);
		--yellow-11: hsl(48, 100%, 47%);
		--yellow-12: hsl(53, 100%, 91%);
	}
}
