{
	"$schema": "https://json.schemastore.org/prettierrc.json",
	"endOfLine": "auto",
	"importOrder": [
		"^@ece4094/.*$",
		"^@/.*$",
		"^[./](?!.*[.]css$).*$",
		"^[./].*[.]module[.]css$",
		"^[./].*[.]css$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"singleAttributePerLine": false
			}
		}
	],
	"printWidth": 100,
	"singleAttributePerLine": true,
	"useTabs": true
}
