.app {
	display: flex;
	background-color: var(--slate-1);
	color: var(--slate-12);
	height: 100%;
	width: 100%;
}

.topPanel {
	border-color: var(--slate-6);
	border-style: solid;
	border-width: 0 0 var(--border-1) 0;
	flex: none;
	height: var(--size-6);
}

.logo {
	border-color: var(--slate-6);
	border-style: solid;
	border-width: 0 var(--border-1) 0 0;
	width: var(--size-6);
}

.row {
	flex: 1;
}

.leftPanel {
	border-color: var(--slate-6);
	border-style: solid;
	border-width: 0 var(--border-1) 0 0;
	display: flex;
	flex: none;
	height: 100%;
	width: var(--size-6);
}

.editor {
	display: flex;
	flex: 1;
}

.rightPanel {
	border-color: var(--slate-6);
	border-style: solid;
	border-width: 0 0 0 var(--border-1);
	display: flex;
	flex: none;
	height: 100%;
	width: calc(2 * var(--size-12));
}
